/*Global Selector*/
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    font-family: 'Times New Roman', Times, serif;
}

nav{
    background: rgb(171, 105, 55);
    height: 80px;
    width: 100%;
}

label.logo{
    font-size: 25px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: black;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a.active,
a:hover {
    background-color: rgb(150, 117, 68);
    transition: .5s;
}

.checkbtn{
    font-size: 22px;
    color: black;
    float: left;
    line-height: 80px;
    margin-left: 30px;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
}

#check{
    display: none;
}

nav ul li a{
    font-size: 16px;
}





.aboutme{
    background-color: rgb(29, 28, 28);
    .imgcontainer{
        display: flex;
        justify-content: end;
    }
    .aboutme-img{
        transform: translate(12rem, 0);
        width: 75%;
        justify-self: end;
        
    }
}
.image-container {
    position: relative;
    display: inline-block;
    justify-content: center;
  }
  
  
  .overlay-text {
    position: absolute;
    top: 60%; 
    left: 26rem; 
    transform: translate(-50%, -50%); 
    background-color: transparent; 
    color: hsl(0, 0%, 76%); 
    padding: 10px 20px; 
    font-size: 26px; 
    text-align: start;
  }

.portfolio{
    font-size: xx-large;
    height: 250dvh;
    background-color: rgb(29, 28, 28);
    text-align: center;
    color:  hsl(0, 0%, 76%);
    padding-top: 2rem;
    
    p {
        text-align: center;
        margin: 3rem;
        margin-top: 1rem;
        color: hsl(0, 0%, 76%);
    }
}

    .gallery{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    .p{
        text-align: center;
        
    }
    }

    .imgcontainer  {
        position: relative;
        display: inline-block;
        justify-content: center;
    }

    .gallery img{
        width: 200px;
        height: 260px;
        margin: 10px;
        border: 5px;
        box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
        cursor: pointer;
        z-index: 1;

        .gallery img:hover{
            transform: scale(1.1);
            transition: transform 0.3s ease;
        }
    }
