/*Global Selector*/
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    font-family: 'Times New Roman', Times, serif;
}

nav{
    background: rgb(171, 105, 55);
    height: 80px;
    width: 100%;
}

label.logo{
    font-size: 25px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: black;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a.active,
a:hover {
    background-color: rgb(150, 117, 68);
    transition: .5s;
}

.checkbtn{
    font-size: 22px;
    color: black;
    float: left;
    line-height: 80px;
    margin-left: 30px;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
}

#check{
    display: none;
}

nav ul li a{
    font-size: 16px;
}

.aboutme{
    background-color: rgb(29, 28, 28);
    .imgcontainer{
        display: flex;
        justify-content: end;
    }
    .aboutme-img{
        transform: translate(12rem, 0);
        width: 75%;
        justify-self: end;
        
    }
}
.image-container {
    position: relative;
    display: inline-block;
    justify-content: center;
  }
  
  
  .overlay-text {
    position: absolute;
    top: 60%; 
    left: 26rem; 
    transform: translate(-50%, -50%); 
    background-color: transparent; 
    color: hsl(0, 0%, 76%); 
    padding: 10px 20px; 
    font-size: 26px; 
    text-align: start;
  }

  a {
    text-decoration: none;
    color: hsl(0, 0%, 76%);
  }
.contacts{
    background-color: rgb(29, 28, 28);
    height: 90dvh;
    color:  hsl(0, 0%, 76%);
    font-size: xx-large;
    background-color: rgb(29, 28, 28);
    align-items: center;
    display: flex;
    flex-direction: column;
    h1 {
        display: flex;
        padding: 15px ;
    }
}
.links{
    display: flex;
    gap: 10rem;

}
.email{
    background: transparent;
    display:flex;
    justify-content: center;
    gap: 0.5rem;
    flex-direction: column;
    align-items: center;
    a{
        background: transparent;
        img{
            background: transparent;
            width: 20dvh;
        }
    }
    h4{
        font-size: 20px;
    }
}
.emailtext{
    text-align: center;
}

.insta{
    background: transparent;
    display:flex;
    gap: 0.5rem;
    flex-direction: column;
    align-items: center;
    a{
        background: transparent;
        img{
            background: transparent;
            width: 20dvh;
        }
    }
    
    .socmed h3{
      text-align: center;
    }

}
.instatext{
    text-align: center;
}